WorkFlows/RAG/My workflow 5.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -96,
        -32
      ],
      "id": "06ead829-ec55-4710-a50a-578e94fa7f83",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        656,
        -48
      ],
      "id": "9ec2c763-a570-472d-b8f6-7e2493ecd314",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "JInGWnsezU8CpMnb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        656,
        176
      ],
      "id": "84857967-11a3-458e-95ee-7f8682408d45",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "SKtR7UZg4mNbMHlk",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "title",
                "value": "={{ $json.title }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        848,
        176
      ],
      "id": "26c76e68-ff41-4fe8-b2c3-ff83cf1e4f97",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        240,
        -48
      ],
      "id": "ca20fb72-e242-4ab0-8415-41d2f5b2fa2d",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        -32
      ],
      "id": "ed965b5b-19ba-4822-8c76-2b80f7e10997",
      "name": "Trigger"
    },
    {
      "parameters": {
        "fileSelector": "/data/shared/*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -304,
        -32
      ],
      "id": "4924c78d-4d6c-4c78-a09d-b352b388b901",
      "name": "Read Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.text.slice(0, 50);\n\nlet result = []\n\nfor (let c of text) {\n  if (c == \"\\n\" || c == \"\\\\\") {\n    break;\n  }\n  result.push(c);\n}\n\nreturn [\n  {\n    \"title\": result.join(\"\")\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -144
      ],
      "id": "51c4fc52-5ba0-452a-b435-96e2c1d6076f",
      "name": "Extract Title"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "918f6d53-f051-4365-ade5-0eaf487f3402",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "e7157f21-31db-43b3-9ed7-59234d94fe69",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -48
      ],
      "id": "c48757e1-a540-403f-be29-5475b55ba4d3",
      "name": "Just send the title and text"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        848,
        352
      ],
      "id": "05fb095c-6e10-493e-a15f-1f5a1a109144",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "# RAG\n\n## Coleta dos documentos, criação dos chunks e vetorização! Além de salvar no banco de dados de vetor Postgres",
        "height": 848,
        "width": 1712,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        -320
      ],
      "typeVersion": 1,
      "id": "85293557-ae41-4350-a7d7-046f8331cdb1",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Extract Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Just send the title and text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Read Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Title": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Just send the title and text": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "61487188-27ca-4bfa-9e19-6cd8cb231de4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2358a318c45d3bb46eacc8bfdee59e1cfad76a92292bd24384d48d9388343566"
  },
  "id": "977BbrFSF92UTGgW",
  "tags": []
}