WorkFlows/llm_rss_blog_scrap/My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        -16
      ],
      "id": "fd8bac8f-99b1-486f-ac30-ce616444279b",
      "name": "trigger"
    },
    {
      "parameters": {
        "url": "https://crypto-mining.blog/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -224,
        -176
      ],
      "id": "0b127603-9309-4ae4-be12-24efd8f20007",
      "name": "crypto-mining"
    },
    {
      "parameters": {
        "url": "https://coincentral.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -224,
        -16
      ],
      "id": "4ce49411-3f91-41c4-8a1d-222a71a195c2",
      "name": "coincentral"
    },
    {
      "parameters": {
        "url": "https://changelly.com/blog//feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -224,
        144
      ],
      "id": "202d9df2-c153-408e-9eac-54bad88edadf",
      "name": "changelly"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        48,
        -176
      ],
      "id": "76e5f6eb-2dc4-4aa1-a0cf-4409a25c6ffb",
      "name": "crypto-mining-limit"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        48,
        -16
      ],
      "id": "14f789b7-d7bb-4a20-a42d-d602b8e2d57a",
      "name": "coincentral-limit"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        48,
        144
      ],
      "id": "92d6e502-fee8-4ef9-8514-470e94c21aa8",
      "name": "changelly-limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a358021-1e07-4565-a741-66a4e786513d",
              "name": "post",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "d364f265-c81b-4fd0-913c-48fe50efe5a4",
              "name": "referenceLink",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "8ca52558-6ae2-493c-836d-d9f8289553ec",
              "name": "date",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "d603f291-5fdf-4d72-964d-8f7817c41c13",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "698182cf-980a-4009-96c9-065d3c1ab6e4",
              "name": "tags",
              "value": "={{ $json.categories }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -176
      ],
      "id": "61446063-89fa-4d3f-93a7-36fa464469f7",
      "name": "crypto-mining-edit-fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a358021-1e07-4565-a741-66a4e786513d",
              "name": "post",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "d364f265-c81b-4fd0-913c-48fe50efe5a4",
              "name": "referenceLink",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "8ca52558-6ae2-493c-836d-d9f8289553ec",
              "name": "date",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "d603f291-5fdf-4d72-964d-8f7817c41c13",
              "name": "content",
              "value": "={{ $json[\"content:encodedSnippet\"] }}",
              "type": "string"
            },
            {
              "id": "c620bcce-61b8-4687-9fcf-42c650e0a8fb",
              "name": "tags",
              "value": "={{ $json.categories }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -16
      ],
      "id": "2781562b-f475-4b33-b8e1-a261cfd1ea24",
      "name": "coincentral-edit-fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a358021-1e07-4565-a741-66a4e786513d",
              "name": "post",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "d364f265-c81b-4fd0-913c-48fe50efe5a4",
              "name": "referenceLink",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "8ca52558-6ae2-493c-836d-d9f8289553ec",
              "name": "date",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "d603f291-5fdf-4d72-964d-8f7817c41c13",
              "name": "content",
              "value": "={{ $json[\"content:encodedSnippet\"] }}",
              "type": "string"
            },
            {
              "id": "698182cf-980a-4009-96c9-065d3c1ab6e4",
              "name": "tags",
              "value": "={{ $json.categories }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        144
      ],
      "id": "bdc19c2a-7de5-470c-b63c-356d96ff85e7",
      "name": "changelly-edit-fields"
    },
    {
      "parameters": {
        "content": "## RAG",
        "height": 560,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        -256
      ],
      "typeVersion": 1,
      "id": "cf899797-41f0-4eeb-b061-3c3ccd56f657",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Data Limit",
        "height": 560,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        -256
      ],
      "typeVersion": 1,
      "id": "ef051b55-18f4-4219-9d76-4043d1585037",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Sanatize Fields and Merge",
        "height": 560,
        "width": 656,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        -256
      ],
      "typeVersion": 1,
      "id": "cf8cf158-b9da-4ba4-a375-988188d5187c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        544,
        -32
      ],
      "id": "56f9c785-da26-4884-ac4c-1bf650b752c9",
      "name": "Merge All Posts"
    },
    {
      "parameters": {
        "content": "## Create a RAG (Chunks)",
        "height": 752,
        "width": 564,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        -256
      ],
      "typeVersion": 1,
      "id": "efb3c971-0ba5-4bc9-a433-e1efde34e9b4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1040,
        -16
      ],
      "id": "5dfa7eef-38cb-4905-864f-e64e2c28eb48",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "\nconst stripHtml = (html) => {\n  if (typeof html !== 'string') return html;\n  return html.replace(/<[^>]*>/g, '').replace(/\\n\\s*\\n/g, '\\n').trim();\n};\n\nreturn items.map(item => {\n  const cleanData = {};\n  \n  for (const key in item.json) {\n    const value = item.json[key];\n\n    if (Array.isArray(value)) {\n      cleanData[key] = value.map(v => typeof v === 'string' ? stripHtml(v) : v);\n    } else if (typeof value === 'string') {\n      cleanData[key] = stripHtml(value);\n    } else {\n      cleanData[key] = value;\n    }\n  }\n\n  return { json: cleanData };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        -16
      ],
      "id": "936217bb-3b91-49ff-bb72-05ffb7f49751",
      "name": "Remove HTML Anotation"
    },
    {
      "parameters": {
        "jsonMode": "=expressionData",
        "jsonData": "={{ $('Loop Over Items').item.json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "post",
                "value": "={{ $('Loop Over Items').item.json.post }}"
              },
              {
                "name": "reference link",
                "value": "={{ $('Loop Over Items').item.json.referenceLink }}"
              },
              {
                "name": "tags",
                "value": "={{ $('Loop Over Items').item.json.tags }}"
              },
              {
                "name": "date",
                "value": "={{ $('Loop Over Items').item.json.date }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1264,
        352
      ],
      "id": "efb551e8-3490-4bc6-87a1-cd3c048f5caf",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1216,
        0
      ],
      "id": "52effa7f-2781-48eb-83f7-a96bbae02698",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1216,
        208
      ],
      "id": "e7ccda6c-d5de-4ea0-8974-88f6a7d56e12",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "SKtR7UZg4mNbMHlk",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ \"chatInput\": \"Analyze the retrieved technical posts and act as a Strategy and Business Consultant. Follow these guidelines: 1. **Filtering and Correlation**: Identify which posts have a direct correlation and discard redundant or superficial information. Focus on what is a market trend or significant technical change. 2. **Advisory Opinion**: Extract the 3 most actionable points for the technology/investment sector. How does this data impact profitability or operational efficiency? 3. **Executive Summary**: Create a concise summary unifying the correlated information. 4. **Traceability**: For each conclusion, cite the post title and the corresponding reference link. Return the opinion in Markdown, ready for executive reading.\" }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        -32
      ],
      "id": "7ae04110-318e-4c28-b9ea-d98d6a289609",
      "name": "Generate Payload"
    },
    {
      "parameters": {
        "content": "## LLM",
        "height": 608,
        "width": 1008,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        -256
      ],
      "typeVersion": 1,
      "id": "cce2acb7-a67f-49f6-8f1a-a2ad70b82740",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "model": "llama3:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2224,
        144
      ],
      "id": "2d80be23-9f19-4686-92e7-ef36694b5a38",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "SKtR7UZg4mNbMHlk",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.chatInput }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2224,
        -16
      ],
      "id": "c8712612-0320-4713-9351-8d77a79b86a6",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "mode": "load",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        },
        "prompt": "={{ $json.chatInput }}"
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1776,
        80
      ],
      "id": "1a73a90b-715f-4558-8923-2f8b8d56e58b",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2064,
        -16
      ],
      "id": "e3fe8fa9-8634-4f0c-83f1-4c44adb316d9",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "trigger": {
      "main": [
        [
          {
            "node": "crypto-mining",
            "type": "main",
            "index": 0
          },
          {
            "node": "coincentral",
            "type": "main",
            "index": 0
          },
          {
            "node": "changelly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crypto-mining": {
      "main": [
        [
          {
            "node": "crypto-mining-limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coincentral": {
      "main": [
        [
          {
            "node": "coincentral-limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "changelly": {
      "main": [
        [
          {
            "node": "changelly-limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crypto-mining-limit": {
      "main": [
        [
          {
            "node": "crypto-mining-edit-fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coincentral-limit": {
      "main": [
        [
          {
            "node": "coincentral-edit-fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "changelly-limit": {
      "main": [
        [
          {
            "node": "changelly-edit-fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crypto-mining-edit-fields": {
      "main": [
        [
          {
            "node": "Merge All Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coincentral-edit-fields": {
      "main": [
        [
          {
            "node": "Merge All Posts",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "changelly-edit-fields": {
      "main": [
        [
          {
            "node": "Merge All Posts",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Generate Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Posts": {
      "main": [
        [
          {
            "node": "Remove HTML Anotation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove HTML Anotation": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Generate Payload": {
      "main": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "298c95f7-d363-446e-b935-126f1985c8a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2358a318c45d3bb46eacc8bfdee59e1cfad76a92292bd24384d48d9388343566"
  },
  "id": "KpuyWKbEoiOarm0p",
  "tags": []
}